.homepage {
  /*background: #ffffff;*/
  background-image: url("../../assets/backgroundmobilehome.svg");
  width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}



.img {
  width: 100%;
  min-width: 100%;
}

.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  gap:38px;
  border-bottom: 1px solid #D7E3FF;
  /*border-bottom: 1px solid var(--secondary-color-5);*/

}
.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:12px
}

.rigth{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:18px;

}

.water{
    fill: #407BFF;
}
.pencil{
  stroke: #407BFF;
}

.trash{
  stroke: #EF5050;
}

.cardbig{
  /*background-color: #8baeff;*/
  max-height: 264px;
  overflow-y: auto;

}
.textwater{
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color:#407BFF
  /*color: var(--primery-color-blue);*/

}

.texttime{
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  /*color: var(--primery-color-black);*/
}
