.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 4px 12px 0;
    gap:38px;
    border-bottom: 1px solid #D7E3FF;
    flex-grow: 10;
        /*border-bottom: 1px solid var(--secondary-color-5);*/

}
.leftcontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:12px
}
.watericon{
    fill: #407BFF;
}

.volumewater{
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color:#407BFF
    /*color: var(--primery-color-blue);*/

}

.time{
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color:#2F2F2F
    /*color: var(--primery-color-black);*/
}

.rightcontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:18px;

}
.pencilicon{
    stroke: #407BFF;
}

.trashicon{
    stroke: #EF5050;
}