.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  /*border-bottom: 1px solid var(--secondary-color-5);*/
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #2f2f2f;
  /*color: var(--primery-color-black);;*/
}

.border{
  border: 1px solid #407bff;
}

.percent {
  font-weight: 400;
  font-size: 10px;
  line-height: 160%;
  color: #9ebbff;
  /*color: var(--primery-color-black);*/
}
