.card {
    background: #fff;
    max-width: 164px;
    max-height: 76px;
    width: 100%;
    height: 100%;
    padding: 20px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid #ecf2ff;
    /*border: 1px solid var(--secondary-color-2);*/
    box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
    /*background: var(--primery-color-white);*/
}

.title {
    /*font-family: var(--font-family);*/
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #2f2f2f;
    /*color: var(--primery-color-black);*/
}

.text {
    color: #407bff;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    /*color: var(--primery-color-blue);*/
}
.cardfooter {
    display: flex;
    align-items: center;
    gap: 12px;
}
.button {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #8baeff;
}